@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <h1>Accès refusé</h1>
                        <p>Tu dois être connecté pour accéder à cette page.</p>
                        <a href="/">Aller à la page de connexion</a>
                    </LayoutView>
                </NotAuthorized>
                <Authorizing>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p>Vérification de l’authentification...</p>
                    </LayoutView>
                </Authorizing>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    [Inject] ITokenService TokenService { get; set; } = default!;
    [Inject] GameApiService GameApi { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var token = await TokenService.GetTokenAsync();
        if (!string.IsNullOrWhiteSpace(token))
        {
            GameApi.SetBearerToken(token);
        }
    }
}
